# Session 2 - Strings and list objects

# Strings

In [2]:
# Single word
'hello'

'hello'

In [1]:
# Entire phrase 
'this is also a string'

'this is also a string'

In [3]:
# We can also use double quote
"String Built with double quotes"

'String Built with double quotes'

In [4]:
# Be careful with quotes!
'I' m using single quotes but will create an error

SyntaxError: invalid syntax (<ipython-input-4-24125ce08d09>, line 2)

The above code results in an error as the text “I’m” stops the string. Here, a combination of single quotes and double quotes can be used to get the complete statement.

In [5]:
"Now iam ready to use the single quotes inside a string"

'Now iam ready to use the single quotes inside a string'

In [6]:
# We can simply declare a string
'Hello World'

'Hello World'

In [9]:
# note that we can't output multiple strings this way
'hello world 1'
'hello world 2'

hello world 1

'hello world 2'

In [10]:
print 'hello world 1'
print 'hello world 2'
print 'use\n to print a new line'
print '\n'
print 'see what i mean?'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('hello world 1')? (<ipython-input-10-ad8b6cc1ca9c>, line 1)

### <font color='red'>Python 3 Alert!</font>

In [14]:
# To use print function from Python 3 in Python 2
from __future__ import print_function

print 'hello world'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('hello world')? (<ipython-input-14-04a49b5d2b62>, line 4)

## String Basics

In Strings, the length of the string can be found out by using a function called len().

In [11]:
len('hello world')

11

## String Indexing
We know strings are a sequence, which means Python can use indexes to call all the sequence parts. Let's learn how String Indexing works.
•	We use brackets [] after an object to call its index. 
•	We should also note that indexing starts at 0 for Python. 
Now, Let's create a new object called s and the walk through a few examples of indexing.

In [17]:
# Assign s as a string
s = 'Hello world'

In [18]:
#Check
s

'Hello world'

In [19]:
# Print the object
print(s)

Hello world

Let's start indexing!

In [20]:
# Show first element (in this case a letter)
s[0]

'H'

In [21]:
s[1]

'e'

In [23]:
s[10]

'd'

We can use a : to perform *slicing* which grabs everything up to a designated point. For example:

In [24]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello world'

In [25]:
# Note that there is no change to the original s
s

'Hello world'

In [26]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [27]:
#Everything
s[:]

'Hello world'

We can also use negative indexing to go backwards.

In [28]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [29]:
# Grab everything but the last letter
s[:-1]

'Hello worl'

Index and slice notation is used to grab elements of a sequenec by a specified step size (where in 1 is the default size). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [30]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello world'

In [31]:
# Grab everything, but go in step sizes of 2
s[::2]

'Hlowrd'

In [32]:
# We can use this to print a string backwards
s[::-1]

'dlrow olleH'

## String Properties

Immutability is one the finest string property whichh is created once and the elements within it cannot be changed or replaced. For example:

In [33]:
s

'Hello world'

In [ ]:
# Let's try to change the first letter to 'x'

Notice how the error tells us directly what we can't do, change the item assignment!

Something we can do is concatenate strings!

In [36]:
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [38]:
# Concatenate strings!
s + ' concatenate me!'

'Hello world concatenate me!'

In [39]:
# We can reassign s completely though!
s=s + ' concatenate me!'

In [40]:
print(s)

Hello world concatenate me!

In [41]:
s

'Hello world concatenate me!'

We can use the multiplication symbol to create repetition!

In [42]:
letter = 'z'

In [43]:
letter*10

'zzzzzzzzzz'

In [44]:
s

'Hello world concatenate me!'

In [45]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [46]:
# Lower case
s.lower()

'hello world concatenate me!'

In [47]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'world', 'concatenate', 'me!']

In [49]:
# Split by a specific element (doesn't include the element that was split on)
s.split('0')

['Hello world concatenate me!']

In [50]:
'Inster another string with curly brackets:{}'.format({'The inserted string'})

"Inster another string with curly brackets:{'The inserted string'}"

## Location and Counting

In [55]:
print(s)
s.count('o')

Hello world concatenate me!

3

In [56]:
s.find('o')

4

In [57]:
s.center(40,'z')

'zzzzzzHello world concatenate me!zzzzzzz'

In [58]:
'hello\thi'.expandtabs()

'hello   hi'

## is check methods
These various methods below check it the string is some case. Lets explore them:

In [59]:
s='hello'

In [60]:
s.isalnum()

True

In [61]:
s.isalpha()

True

In [62]:
s.islower()

True

In [63]:
s.isspace()

False

In [64]:
s.istitle()

False

In [65]:
s.isupper()

False

In [66]:
s.endswith('o')

True

In [67]:
s.split('e')

['h', 'llo']

In [68]:
s.partition('e')

('h', 'e', 'llo')

In [69]:
s

'hello'

In [70]:
# Assign a list to an variable named my_list
my_list =[1,2,3]

We just created a list of integers, but lists can actually hold different object types. For example:

In [71]:
my_list = ['A string',23,100,32,'o']
my_list

['A string', 23, 100, 32, 'o']

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [72]:
len(my_list)

5

### Indexing and Slicing
Indexing and slicing of lists works just like in Strings. Let's make a new list to remind ourselves of how this works:

In [ ]:
my_list=['one','two','three',4,5]

In [73]:
# Grab element at index 0
my_list[0]

'A string'

In [74]:
# Grab index 1 and everything past it
my_list[1:]

[23, 100, 32, 'o']

In [75]:
# Grab everything UP TO index 3
my_list[:3]

['A string', 23, 100]

We can also use "+" to concatenate lists, just like we did for Strings.

In [76]:
my_list + ['new item']

['A string', 23, 100, 32, 'o', 'new item']

Note: This doesn't actually change the original list!

In [77]:
my_list

['A string', 23, 100, 32, 'o']

In this case, you have to reassign the list to make the permanent change.

In [78]:
# Reassign
my_list=my_list+['new item permanently']

In [79]:
my_list

['A string', 23, 100, 32, 'o', 'new item permanently']

In [80]:
# Make the list double
my_list*2

['A string',
 23,
 100,
 32,
 'o',
 'new item permanently',
 'A string',
 23,
 100,
 32,
 'o',
 'new item permanently']

In [81]:
# Again doubling not permanent
my_list

['A string', 23, 100, 32, 'o', 'new item permanently']

In [83]:
# Create a new list
l=[1,2,3]

In [84]:
# Append
l.append('append me!')

In [85]:
# Show
l

[1, 2, 3, 'append me!']

In [86]:
# Pop off the 0 indexed item
l.pop(0)

1

In [87]:
# Show
l

[2, 3, 'append me!']

In [88]:
# Assign the popped element, remember default popped index is -1
popped_item=l.pop()

In [89]:
popped_item

'append me!'

In [90]:
# Show remaining list
l

[2, 3]

Note that lists indexing will return an error if there is no element at that index. For example:

In [91]:
l[100]

IndexError: list index out of range

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [92]:
new_list=['a','e','x','b','c']

In [93]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [94]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [95]:
new_list

['c', 'b', 'x', 'e', 'a']

In [96]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [97]:
new_list

['a', 'b', 'c', 'e', 'x']

## Nesting Lists

Nesting Lists is one of the great features in Python data structures. Nesting Lists means we can have data structures within data structures. 

For example: A list inside a list.

Let's see how Nesting lists works!

In [98]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]
# Make a list of lists to form a matrix
matrix=[lst_1,lst_2,lst_3]

In [99]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [101]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [102]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

# List Comprehensions

Python has an advanced feature called list comprehensions which allows for quick construction of lists. 

Before we try to understand list comprehensions completely we need to understand "for" loops. 

So don't worry if you don't completely understand this section, and feel free to just skip it since we will return to this topic later.

Here are few of oue examples which helps you to understand list comprehensions.

In [103]:
# Build a list comprehension by deconstructing a for loop within a []
first_col=[row[0] for row in matrix]

In [104]:
first_col

[1, 4, 7]

# Advanced Lists

In this series of lectures, we will be diving a little deeper into all the available methods in a list object. These are just methods that should encountered without some additional exploring. Its pretty likely that you've already encountered some of these yourself!

Lets begin!

In [107]:
l = [1,2,3]

## append

Definitely, You have used this method by now, which merely appends an element to the end of a list:

In [108]:
l.append(4)
l

[1, 2, 3, 4]

## count
We discussed this during the methods lectures, but here it is again. count() takes in an element and returns the number of times it occures in your list:

In [109]:
l.count(10)

0

In [110]:
l.count(2)

1

In [112]:
x = [1,2,3]
x.append([4,5])
print(x)

[1, 2, 3, [4, 5]]

In [113]:
x = [1,2,3]
x.extend([4,5])
print(x)

[1, 2, 3, 4, 5]

Note how extend append each element in that iterable. That is the key difference.

## index

index returns the element placed as an argument. Make a note that if the element is not in the list then it returns an error.

In [115]:
print(l)
l.index(2)

[1, 2, 3, 4]

1

In [116]:
l.index(12)

ValueError: 12 is not in list

## insert 

Two arguments can be placed in insert method. 

Syntax: insert(index,object) 

This method places the object at the index supplied. For example:

In [117]:
l

[1, 2, 3, 4]

In [118]:
# Place a letter at the index 2
l.insert(2,'inserted')

In [119]:
l

[1, 2, 'inserted', 3, 4]

## pop
You most likely have already seen pop(), which allows us to "pop" off the last element of a list.

In [120]:
 ele=l.pop()

In [121]:
l

[1, 2, 'inserted', 3]

In [122]:
ele

4

## remove
The remove() method removes the first occurrence of a value. For example:

In [123]:
l

[1, 2, 'inserted', 3]

In [124]:
l.remove('inserted')

In [125]:
l

[1, 2, 3]

In [126]:
l=[1,2,3,4,3]

In [127]:
l.remove(3)

In [128]:
l

[1, 2, 4, 3]

## reverse
As the name suggests, reverse() helps you to reverse a list. Note this occurs in place! Meaning it effects your list permanently.

In [129]:
 l.reverse()

In [130]:
l

[3, 4, 2, 1]

## sort
sort will sort your list in place:

In [131]:
l

[3, 4, 2, 1]

In [132]:
l.sort()

[1, 2, 3, 4]